<div fxLayout="row" fxLayoutAlign="center center" class="container">

    <div fxLayout="column" fxFlex="20" fxFlex.lt-lg="50" fxFlex.lt-md="80" fxLayoutAlign="center center"  class="box">
  
      <div>
        <h1><strong>Login</strong></h1>
    
      </div>
  
  
      <div fxLayout="column"  fxLayoutAlign="center">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" [(ngModel)]="usuario.email" matInput> 
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="usuario.password" type="password" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input [(ngModel)]="usuario.usuario" type="text" matInput>
          </mat-form-field>
      </div>
  
  
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" >
        <button fxLayout="column" fxFlex="10"  fxLayoutAlign="center center"  mat-flat-button color="primary" (click)="registrar()">Register</button>
        <button fxLayout="column" fxFlex="10"  fxLayoutAlign="center center"  mat-flat-button color="accent" (click)="volver()">Back</button>
      </div>
  
    </div>
  
     
  
  </div>