<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="push">
        <h1>Heroes App</h1>
        <hr>

        <mat-list>
            <a mat-list-item routerLink="./listado" (click)="drawer.toggle()">
                <mat-icon color="accent" mat-list-icon>list</mat-icon>
                <span>Listado de Heroes</span> 
            </a>
            <a mat-list-item routerLink="./buscar" (click)="drawer.toggle()">
                <mat-icon color="accent" mat-list-icon>search</mat-icon>
                <span>Buscar Heroe</span>
            </a>
            <a mat-list-item routerLink="./agregar" (click)="drawer.toggle()">
                <mat-icon color="accent" mat-list-icon>add</mat-icon>
                <span>Agregar Heroe</span>
            </a>
        </mat-list>

    </mat-sidenav>

    <mat-toolbar class="tolbar-container">
        <button mat-raised-button (click)="drawer.toggle()" mat-mini-fab aria-label="home icon menu">
            <mat-icon>menu</mat-icon>
        </button>


        <div fxLayout="row" fxLayoutGap="20px">
            <div>
                <h2>Welcome, <strong>{{profile.usuario}}</strong></h2>
            </div>

            <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button (click)="deslogear()" mat-menu-item aria-label="Logout button">
                    Logout
                </button>
            <button mat-menu-item (click)="editProfile()">Edit profile</button>
            </mat-menu>

        </div>
        
    </mat-toolbar>

    
    <div class="container">
        <router-outlet></router-outlet>
    </div>

    

    
</mat-sidenav-container>








