.container{
    margin: 20px
}

h1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0 10px 0;
}

.tolbar-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

a{
    text-decoration: none;
}