<p>comp404 works!</p>
<div class="row">
    <ul>
        <li>
            <a class="row" routerLink="/heroes/buscar">iir a buscar</a>
        </li>
        <li>
            <a class="row" routerLink="/heroes/agregar">iir a agregar</a>
        </li>
        <li>
            <a class="row" routerLink="/heroes/listado">iir a listado</a>
        </li>
        <li>
            <a class="row" routerLink="/auth/login">iir a login</a>
        </li>
        <li>
            <a class="row" routerLink="/auth/register">iir a register</a>
        </li>
    </ul>
</div>
 
   

   

